analysis/assembly/canu/athaliana.contigs.fasta
analysis/assembly/canu/athaliana.correctedReads.fasta.gz
analysis/assembly/canu/athaliana.trimmedReads.fasta.gz
analysis/assembly/canu/athaliana.unassembled.fasta
analysis/assembly/canu/athaliana.contigs.layout.readToTig
analysis/assembly/canu/athaliana.seqStore
analysis/assembly/canu/canu-logs
analysis/assembly/canu/canu-scripts
analysis/assembly/canu/correction
analysis/assembly/canu/trimming
analysis/assembly/canu/unitigging
analysis/assembly/trinity/both.fa
analysis/assembly/trinity/both.fa.ok
analysis/assembly/trinity/inchworm.K25.L25.DS.fa
analysis/assembly/trinity/inchworm.K25.L25.DS.fa.finished
analysis/assembly/trinity/jellyfish.kmers.fa
analysis/assembly/trinity/left.fa.ok
analysis/assembly/trinity/right.fa.ok
analysis/assembly/trinity/Trinity.fasta
analysis/assembly/trinity/Trinity.fasta.gene_trans_map
analysis/assembly/trinity/chrysalis
analysis/assembly/trinity/insilico_read_normalization
analysis/assembly/trinity/read_partitions
analysis/assembly/trinity/partitioned_reads.files.list
analysis/assembly/trinity/partitioned_reads.files.list.ok
analysis/assembly/trinity/scaffolding_entries.sam
analysis/assembly/trinity/recursive_trinity.cmds
analysis/assembly/trinity/recursive_trinity.cmds.completed
analysis/assembly/trinity/recursive_trinity.cmds.ok
analysis/assembly/trinity/.iworm.ok
analysis/assembly/trinity/.iworm_renamed.ok
analysis/assembly/trinity/.jellyfish_count.ok
analysis/assembly/trinity/.jellyfish_dump.ok
analysis/assembly/trinity/.jellyfish_histo.ok
analysis/assembly/flye/00-assembly/
analysis/assembly/flye/10-consensus/
analysis/assembly/flye/20-repeat/
analysis/assembly/flye/30-contigger/
analysis/assembly/flye/40-polishing/
analysis/assembly/flye/assembly_graph.gfa
analysis/assembly/flye/assembly_graph.gv
analysis/assembly/flye/assembly.fasta
analysis/assembly/flye/flye.log
analysis/Jellyfish/Illumina_kmer_count.jf
analysis/Jellyfish/Illumina_R1_kmer_count.jf
analysis/Jellyfish/Illumina_R2_kmer_count.jf
analysis/Jellyfish/Pacbio_run1_kmer_count.jf
analysis/Jellyfish/Pacbio_run2_kmer_count.jf
.cache/
data/
busco_downloads/
quast-5.2.0/
