analysis/assembly/Canu/athaliana.contigs.fasta
analysis/assembly/Canu/athaliana.correctedReads.fasta.gz
analysis/assembly/Canu/athaliana.trimmedReads.fasta.gz
analysis/assembly/Canu/athaliana.unassembled.fasta
analysis/assembly/Canu/athaliana.contigs.layout.readToTig
analysis/assembly/Canu/athaliana.seqStore
analysis/assembly/Canu/canu-logs
analysis/assembly/Canu/canu-scripts
analysis/assembly/Canu/correction
analysis/assembly/Canu/trimming
analysis/assembly/Canu/unitigging
analysis/assembly/Trinity/both.fa
analysis/assembly/Trinity/both.fa.ok
analysis/assembly/Trinity/inchworm.K25.L25.DS.fa
analysis/assembly/Trinity/inchworm.K25.L25.DS.fa.finished
analysis/assembly/Trinity/jellyfish.kmers.fa
analysis/assembly/Trinity/left.fa.ok
analysis/assembly/Trinity/right.fa.ok
analysis/assembly/Trinity/Trinity.fasta
analysis/assembly/Trinity/Trinity.fasta.gene_trans_map
analysis/assembly/Trinity/chrysalis
analysis/assembly/Trinity/insilico_read_normalization
analysis/assembly/Trinity/read_partitions
analysis/assembly/Trinity/partitioned_reads.files.list
analysis/assembly/Trinity/partitioned_reads.files.list.ok
analysis/assembly/Trinity/scaffolding_entries.sam
analysis/assembly/Trinity/recursive_trinity.cmds
analysis/assembly/Trinity/recursive_trinity.cmds.completed
analysis/assembly/Trinity/recursive_trinity.cmds.ok
analysis/assembly/Trinity/.iworm.ok
analysis/assembly/Trinity/.iworm_renamed.ok
analysis/assembly/Trinity/.jellyfish_count.ok
analysis/assembly/Trinity/.jellyfish_dump.ok
analysis/assembly/Trinity/.jellyfish_histo.ok
analysis/assembly/Flye/00-assembly/
analysis/assembly/Flye/10-consensus/
analysis/assembly/Flye/20-repeat/
analysis/assembly/Flye/30-contigger/
analysis/assembly/Flye/40-polishing/
analysis/assembly/Flye/assembly_graph.gfa
analysis/assembly/Flye/assembly_graph.gv
analysis/assembly/Flye/assembly.fasta
analysis/assembly/Flye/flye.log
analysis/Jellyfish/Illumina_kmer_count.jf
analysis/Jellyfish/Illumina_R1_kmer_count.jf
analysis/Jellyfish/Illumina_R2_kmer_count.jf
analysis/Jellyfish/Pacbio_run1_kmer_count.jf
analysis/Jellyfish/Pacbio_run2_kmer_count.jf
.cache/
data/
